<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Create superhero</title>
</head>
<h1>Create superhero</h1>
<body>

<h3>Create a new superhero</h3>
<form action="createNewSuperhero" method="POST">
          Superhero Name: <input type="text" name="name" required/> <br/><br>
          Superhero Description: <input type="text" name="description" required/> <br/>
          <br>
          <button type="submit">Create superhero</button>
</form>
<br>
<form action="home" method = "GET">
	<button type = "submit">Cancel</button>
</form>

<br><br>
<p th:text="${successMessage}"></p>

</body>
</html>