<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Delete sighting</title>
</head>
<h1>Delete sighting</h1>
<body>

<h3>Delete sighting by Location</h3>
<h5>Enter ID of a location that you want to delete</h5>
<form action="deleteSightingByLocation" method="POST">
          LocationId: <input type="text" name="locationId" required/> <br/>
          <p th:text="${NoSuchLocationError}"></p>
          <br>
          
          <button type="submit">Delete sighting</button>
</form>

<h3>Delete sighting by Superhero</h3>
<form action="deleteSightingBySuperhero" method="POST">
          SuperheroId: <input type="text" name="superheroId" required/> <br/>
          <p th:text="${NoSuchSuperheroError}"></p>
          <br>
          
          <button type="submit">Delete sighting</button>
</form>
<form action="home" method = "GET">
	<button type = "submit">Cancel</button>
</form>

<br><br>
<p th:text="${successMessage}"></p>

</body>
</html>