<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit location</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<h1>Edit a location</h1>
<body>

<h3>Edit a location</h3>
<p>Enter the ID of a location that you want to change</p>
<form action="editLocation" method="POST">
		  Location Id: <input type="text" name = "locationId" required/><br/><br>
          Enter new location name: <input type="text" name="name"/> <br/><br>
          Enter new location description: <input type="text" name="description"/> <br/>
          Enter new location address: <input type="text" name="address"/> <br/>
          <br>
          <button type="submit">Save changes</button>
</form>
<br>
<form action="home" method = "GET">
	<button type = "submit">Cancel</button>
</form>
<br>
<p th:text="${successMessage}"></p>
<p th:text="${NotFoundError}"></p>
<p th:text="${NumberFormatError}"></p>
</body>
</html>