<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<meta charset="ISO-8859-1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<title>Supers Manager</title>
</head>
<h1>Superhero/Supervillain sightings manager</h1>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SupersSightings</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Supers
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/create_superhero">Create a superhero/supervillain</a></li>
          <li><a href="/view_superheroes">View superheroes/supervillains</a></li>
          <li><a href="/edit_superheroes">Edit superheroes/supervillains</a></li>
          <li><a href="/delete_superheroes">Delete superheroes/supervillains</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Superpowers
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/create_superpower">Create a superpower</a></li>
          <li><a href="/view_superpowers">View superpowers</a></li>
          <li><a href="/edit_superpowers">Edit superpowers</a></li>
          <li><a href="/delete_superpowers">Delete superpowers</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Locations
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/create_location">Create a location</a></li>
          <li><a href="/view_locations">View locations</a></li>
          <li><a href="/edit_locations">Edit locations</a></li>
          <li><a href="/delete_locations">Delete locations</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Supers
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/create_organization">Create an organization</a></li>
          <li><a href="/view_organizations">View organizations</a></li>
          <li><a href="/edit_organizations">Edit organizations</a></li>
          <li><a href="/delete_organizations">Delete organizations</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sightings
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/create_sighting">Create a sighting</a></li>
          <li><a href="/view_sighting">View sightings</a></li>
          <li><a href="/edit_sighting">Edit sightings</a></li>
          <li><a href="/delete_sighting">Delete sightings</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>


<h1 style="text-align: center">Welcome to the Super Sightings manager</h1>
<p style="text-align: center">Please familiarize yourself with the website and check out the latest 10 recorded sightings of
superheroes and supervillains</p>
<br><br><br><br><br>
<p th:each="sighting : ${sightings}">
       <span th:text="${sighting}"> </span>
       <br>
</p>

</body>
</html>