<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<title>View organizations</title>
</head>
<h1>Superhero sightings manager</h1>
<body>

<br><br>

<h3>Organization manager</h3>
<form th:action="@{/create_organization}">
	<button class="btn btn-primary" type="submit">Add an organization</button>
</form>
<table class="table" style = "margin-left:auto; margin-right:auto; width:75%">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th score="col">Email Address</th>
      <th score="col">Phone Number</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody th:each="organization : ${organizations}">
    <tr>
      <td th:text="${organization.name}"></td>
      <td th:text="${organization.description}"></td>
      <td th:text="${organization.emailAddress}"></td>
      <td th:text="${organization.phoneNumber}"></td>
      <td th:text="${organization.address}"></td>
      <td>
      <form th:action="@{/edit_organizations/{organizationId}(organizationId = ${organization.organizationId})}" method = "GET">
			<input type="hidden" th:name = "${organization.organizationId}">
			<button type="submit">Edit</button>
		</form>
	  </td>
	  <td>
      <form th:action="@{/deleteOrganization/{organizationId}(organizationId = ${organization.organizationId})}" method = "POST">
			<input type="hidden" th:name = "${organization.organizationId}">
			<button type="submit">Delete</button>
		</form>
	  </td>
    </tr>
  </tbody>
</table>
</body>
</html>